h1 {
    font-size: 131px;
    color: #254;
}
p {
    font-size: 20px;
    width: 170px;
}
span.dropcaps {
    color: #689;
    float: none;
    font-family: cursive;
    font-size: 95px;
    line-height: 60px;
    padding: 4px, 8px, 0px, 3px;
}
